#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to 'Enter', new_user_registration_path

#callouts
  .callouts_inner
    .wrapper
      .callout
        %h2 Organize
        %p Raclette unicorn master cleanse umami letterpress, four loko live-edge cloud bread iPhone mlkshk cray sriracha cardigan lo-fi. Bitters hot chicken asymmetrical, synth blog copper mug raw denim retro mumblecore wayfarers. Fashion axe echo park shaman, pork belly kombucha kinfolk tacos gochujang tbh chia cold-pressed butcher. Air plant disrupt flexitarian tacos chartreuse coloring book dreamcatcher pour-over irony prism. Hashtag bespoke master cleanse, raclette prism iceland yr gastropub ramps williamsburg poke pickled.

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to 'Join Now', new_user_registration_path
